name: Continuous Integration

on: [push, release]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-uv
            
            - name: Run Ruff Formatting Check
              run: uv run ruff format --check .
            
            - name: Run Ruff Check
              run: uv run ruff check .
            
            - name: Run Mypy
              run: uv run mypy .

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-uv
            
            - name: Run tests
              run: uv run pytest --cov=app --cov-fail-under=80 --cov-report=xml:coverage.xml tests/unit

    test-staging:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/master'
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-uv
            
            - name: Run staging tests
              run: uv run pytest tests/qas_tests
