name: Continuous Integration

on: [push, release]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Install uv
              run: curl -LsSf https://astral.sh/uv/install.sh | sh

            - name: Install dependencies
              run: uv sync
            
            - name: Run Ruff
              run: uv run ruff check .
